---
import "../../styles/global.css"
import { TITLE_SUFFIX } from "src/config";

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const {
  title,
  description,
  image = new URL("/images/banner.png", Astro.url),
} = Astro.props;

const pageTitle = `${title} ${TITLE_SUFFIX}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="wosps" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={pageTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<!-- Link Tags -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<!-- Custom Scripts -->

<script>
if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
  document.documentElement.classList.add('dark')
} else {
  document.documentElement.classList.remove('dark')
}
</script>

<!-- Font Style -->
<style>
  body {
      font-family: 'Poppins', sans-serif;
  }
</style>